body {
    font-family: 'Special Elite', sans-serif;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    height: 100vh;
    width: 100%;
    background-image: url(./img/5_background/first_half_background.png);
    backdrop-filter: blur(10px);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    line-height: 1.3;
}

input[type=range] {
    --webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 5px;
    background: #535353;
    border: none;
    border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: goldenrod;
    margin-top: -5px;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #535353;
}


.screen {
    max-width: 100%;
    max-height: 100%;
    margin-left: 10%;
    margin-right: 10%;
    filter: blur(0px);
    transition: all 0.5s;
}

canvas {
    position: relative;
    margin: 0;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

.canvas {
    position: relative;
    margin: 0;
    max-height: 90%;
    max-width: 100%;
    width: 100%;
    object-fit: contain;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

.canvas-gameover {
    position: absolute;
    margin: 0;
    max-height: 90%;
    max-width: 100%;
    width: 100%;
    object-fit: contain;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}



.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.options {
    width: 100%;
    padding-top: 10px;
    max-height: 150px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
    background-color: #029CC7;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
}

.options img {
    display: flex;
    align-items: center;
    height: 40px;
    margin: 10px;
    padding-bottom: 5px;
    transition: all 0.5s;
    border-radius: 50%;
}

.options img:hover {
    position: relative;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    padding: 10px;
    margin: 0px;
    margin-bottom: 5px;
    transition: all 0.5s;
}

.menu-right {
    font-size: 28px;
    margin-top: 10px;
    margin-right: 25px;
    display: flex;
    align-items: center;
    transition: all 0.5s;
}

.menu-center {
    margin-top: 10px;
    font-size: 28px;
    display: flex;
    align-items: center;
    transition: all 0.5s;
}

.menu-center-colume {
    position: absolute;
    top: 2.0em;
    font-size: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #FFDD00;
    padding-top: 10px;
    margin: 15px;
    font-size: 52px;
    border-radius: 15px;
    border: 2px solid;
    z-index: 15;
    left: 20%;
    right: 20%;
    transition: all 0.5s;
}

.menu-center-colume:hover {
    cursor: pointer;
    background-color: #c2a909;
    transition: all 0.5s;
}


.menu-left {
    font-size: 28px;
    margin-top: 10px;
    margin-left: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;
}


.menu-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    height: 100vh;
    width: 100%;

    z-index: 5;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.2);

}

.menu-box {
    background-color: #FFDD00;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    z-index: 10;
    border-radius: 15px;
    border: 2px solid;
    width: 25%;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.menu-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.menu-button {
    font-size: 18px;
    margin: 15px;
    padding: 10px;
    text-align: center;
    width: 40%;
    color: rgb(221, 221, 221);
    background-color: rgb(78, 78, 78);
    border-radius: 5px;
    box-shadow: 2px 2px 2px grey;
    transition: all 0.2s;
}

.menu-button:hover {
    cursor: pointer;
    background-color: rgb(98, 98, 98);
    box-shadow: 5px 5px 5px grey;
    transition: all 0.2s;
}


.menu-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    font-size: 18px;
    margin: 15px;
    text-align: center;
}

.menu-controls img {
    width: 40px;
}

.menu-controls-box {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: end;
    margin: 15px;
    text-align: center;
}

.menu-controls-box-only {
    width: 50%;

}

.menu-story {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    font-size: 18px;
    margin: 15px;
    text-align: center;
    font-weight: 500;
}

.menu-settings {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    font-size: 18px;
    margin: 15px;
    text-align: center;
    font-weight: 500;
}

.menu-credit {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
    font-size: 18px;
    margin: 15px;
    text-align: center;
    font-weight: 500;
}

.dn {
    display: none;
}

@media (max-width: 1150px) {
    .screen {
        margin-left: 0%;
        margin-right: 0%;
        transition: all 0.5s;
    }

    .menu-center-colume,
    .menu-center-colume:hover,
    .menu-left,
    .menu-center,
    .menu-box,

    .menu-right {
        margin: 0;
        -webkit-transform: scale(0.9);
        -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
        -o-transform: scale(0.9);
        transform: scale(0.9);
        transition: all 0.5s;
    }

    .menu-center-colume,
    .menu-center-colume:hover {
        top: 1.75em;
        transition: all 0.5s;
    }

    .menu-box {
        width: 35%;
        transition: all 0.5s;
    }

    .screen {
        margin: 0;
    }
}

@media (max-width:850px) {
    body {
        overflow: visible;
    }

    canvas,
    .canvas {
        max-height: 90%;
        border-radius: 0;
    }

    .options {
        border-radius: 0;
    }

    .menu-center-colume,
    .menu-center-colume:hover,
    .menu-left,
    .menu-center,
    .menu-box,

    .menu-right {
        margin: 0;
        -webkit-transform: scale(0.8);
        -moz-transform: scale(0.8);
        -ms-transform: scale(0.8);
        -o-transform: scale(0.8);
        transform: scale(0.8);
        transition: all 0.5s;
    }

    .menu-center-colume,
    .menu-center-colume:hover {
        top: 1.5em;
        transition: all 0.5s;
    }

    .menu-box {
        width: 45%;
        transition: all 0.5s;
    }

    .menu-box {
        -webkit-transform: scale(0.6);
        -moz-transform: scale(0.6);
        -ms-transform: scale(0.6);
        -o-transform: scale(0.6);
        transform: scale(0.6);
        transition: all 0.5s;

    }


}

@media (max-width:700px) {

    canvas {
        max-height: 90%;

    }

    .menu-center-colume,
    .menu-center-colume:hover,
    .menu-left,
    .menu-center,

    .menu-right {
        margin: 0;

        -webkit-transform: scale(0.7);
        -moz-transform: scale(0.7);
        -ms-transform: scale(0.7);
        -o-transform: scale(0.7);
        transform: scale(0.7);
        transition: all 0.5s;
    }

    .menu-center-colume,
    .menu-center-colume:hover {
        top: 1.25em;
        transition: all 0.5s;
    }

    .menu-box {
        width: 50%;
        transition: all 0.5s;
    }

    .menu-box {
        -webkit-transform: scale(0.5);
        -moz-transform: scale(0.5);
        -ms-transform: scale(0.5);
        -o-transform: scale(0.5);
        transform: scale(0.5);
        transition: all 0.5s;

    }
}